/*
font-family: 'Indie Flower', cursive;
font-family: 'Hind Guntur', sans-serif;
font-family: 'Source Sans Pro', sans-serif;


*/



body{
    box-sizing: border-box;
    background-color: #2C2C2C;
    color:white;
}

a{
    color:white;
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #484848;
    margin: auto;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    margin: auto;
}
.brand{
    align-self: center;
    flex-basis: 20%;
    text-align: center;
}
.site-logo{
    font-size: 40px;
    font-family: 'Indie Flower', cursive; 
}
.navbar-right{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    font-family: 'Hind Guntur', sans-serif;
}


.navbar-top {
    display: flex;
    flex-direction: row;
    background-color: #2C2C2C;
    align-items: center;
  }
  .navbar-social {
    flex-direction: row;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  }
  .contact {
    padding: 10px;
  }
  .twitter {
    padding: 10px;
  }
  input {
    border: none;
    background-color: #191919;
    color: white;
    width: 90%;
  }
  .search-input {
    background-color: #191919;
    line-height: 40px;
    width: 246px;
    padding: 0 5px;
    position: relative;
  }
  .search-film-list{
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: inherit;
    left: 0;
  }
  .search-film-list>a{
    display: flex;
    align-items: center;
  }
  .navbar-bottom {
    display: flex;
    flex-direction: row;
    height: 50px;
  }
  .sign {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .signup {
    padding: 10px;
  }
  .signin {
    padding: 10px;
  }
  .navbar-categories {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-basis: 50%;
    font-size:20px;
  }
  .navbar-link:hover{
    color:#21E1FF;
  }
  .kind-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-around;
    height: 135px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    background-color: #484848;
  }
  .kind-link {
    width: 118px;
    height: 30px;
    text-align: center;
    background-color: #5A5A5A;
    line-height: 30px;
    border-radius: 84px;
    margin: 0 15px;
  }

  .kind-container > .active{
      background-color: #21E1FF;
  }
 



  .container{
    width: 80%;
    height: auto;
    margin: 50px auto;
  }
  .container h1{
    border-left: 5px solid #21E1FF;
    padding-left: 10px;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 25px;
  }

  /* Slider */
  .owl-nav > button{
    position: absolute;
    font-size: 45px !important;
    color:#21E1FF !important;
    top:38%;
  }
  .owl-prev{
    left:-20px;
  }
  .owl-next{
    right:-20px;
  }

  .sort-panel{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .sort-panel > .active{
    color:#21E1FF;
  }
  .film-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }

  .film-box{
    float: left;
    width: 175px;
    height: 250px;
    margin-bottom: 20px;
  }

  .film-poster{
    width: 170px;
    height: 250px;
  }
  .btn{
    border:none;
    color:white;
    padding: 5px 20px;
    cursor: pointer;
  }

  .btn-more{
    background-color: #484848;
    margin-left: 44%;
    margin-top:5px;
  }


  footer {
    width: 100%;
    height: 60px;
    margin: auto;
    text-align: center;
    background-color: #484848;
    line-height: 60px;
}

/* Modal */
.modal{

  font-family: 'Source Sans Pro',sans-serif;
  font-size: 20px;
  color: white;
  padding: 36px !important;
  background-color: #2C2C2C !important;
  text-align: center !important;
}
.input-item{
  width: 90%;
  height: 30px;
}

.btn-sign{
  background-color: #0080FF;
  margin-top: 15px;
}

.forgot-password{
  font-size: 15px;
  font-family: 'Hind Guntur', sans-serif;
}
